body {
    font-family: 'DM Serif Display', serif;
    color: white;
    background: url("assets/dark-paths-bg.webp");
    background-color: #051537;
    background-size: auto;
}

h3 {
    color: #0458AB
}

h2 {
    color: #00A5E9
}

.text-light-blue {
    color: #00A5E9;
}

.text-navy {
    color: #051537;
}

.bg-navy {
    background: #051537;
}

.bg-light-blue {
    background: #00A5E9;
}

.resize-photo {
    height: 400px;
}

.navbar {
    width: 75%;
    text-align: center;
}

.bg-blue {
    background: #051537
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    color: white;
}

.shadow {
    box-shadow: 0 6px 20px rgb(0 0 0 / 20%);
}

.border-navy {
    border-radius: 50px;
    border-color: #051537;
    width: 400px;
}

